* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-color: hsl(257, 40%, 49%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.logo img {
  max-width: 18%;
  margin: 20px 0 30px 0;
}

img {
  max-width: 95%;
}
h1 {
  opacity: 0.9;
  font-family: 'Popins', sans-serif;
  line-height: 50px;
}

.container{
  margin: 0 100px;
  max-width: 100%;
}
.flex {
  display: flex;
}

.flex > div:first-child {
  flex: 0.6;
  padding-right: 23px;
}

.flex > div:last-child {
  flex: 0.4;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin: 0 10px;
}

button {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  color: hsl(257, 40%, 49%);
  font-size: 17px;
  padding: 15px 60px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px hsla(0, 0%, 0%, 0.2);
}

button:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

a:hover {
  
  border: 2px solid hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}

@media screen and (max-width: 800px) {
  .logo img {
    margin: 30px 0 50px 0;
  }
  .flex {
    flex-direction: column;
  }
  .flex > div:first-child {
    flex: 1;
    padding-right: 0;
    text-align: center;
  }
  .flex > div:last-child {
    flex: 1;
    padding-left: 0;
    text-align: center;
  }
  .container {
    margin: 0 30px;
  }
  p {
    font-size: 1.1em;
  }
  h1 {
    margin-top: 30px;
    font-size: 1.7em;
    line-height: 40px;
  }  
  button {
    padding: 15px 70px;
    margin: 20px 0;
  }
  ul {
    justify-content: center;
    padding-left: 0;
    margin: 40px 0 20px 0;
  }
  .logo img {
    max-width: 50%;
  }

}